* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.logo {
  width: 140px;
  margin-top: 90px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #feffd8;
  height: 80px;
  padding: 0 20px;
}

.nav-bg {
  background-color: #76905c;
  display: flex;
  list-style: none;
  gap: 40px;
  color: white;
  font-size: 14px;
  padding: 10px 0px;
  border-radius: 50px;
  width: 700px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

nav li {
  border-right: 1.5px solid #f9fbdf;
  padding-right: 50px;
}

nav li:last-child {
  border-right: none;
  padding-right: 0px;
}

nav a {
  text-decoration: none;
  color: #f9fbdf;
}

nav .onpage {
  font-weight: bold;
}

.ham-menu {
  list-style: none;
}

.feather-minus {
  padding-right: 10px;
}

.container {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  gap: 35px;
  margin:20px 35px;
}

.left {
  width: 200px;
  position: relative;
  z-index: -1;
  padding: 15px 10px;
  background-color: #76905c;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

.left img {
  padding-bottom: 15px;
}

.left-info {
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

.left-info h1 {
  font-size: 25px;
  font-weight: bold;
}

.left-info hr {
  margin: 10px 0;
  border: none; /* Menghapus border garis horizontal */
  border-top: 2px solid #fff; /* Menambahkan border atas dengan warna putih */
}

.left-info h3 {
  font-weight: 400;
  font-size: 18px;
}

.left-info .address {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.left-info h3.address {
  font-weight: normal;
}

.left-info p {
  font-weight: bold;
  font-size: 10px;
  text-align: left;
}

.left-info .titik-dua {
  margin-left: 56px;
}

.left-info span {
  font-weight: normal;
  color: white; /* Warna teks abu-abu */
}

.right{
  display: flex;
  justify-content: center;
}

.right-content {
  min-width: 500px;
  max-width: 600px;
  font-family: "Amaranth", sans-serif;
  background-color: #fcffd9;
  position: relative;
}

.right h1 {
  color: #76905c;
  text-align: center;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  padding: 130px 0;
  padding-bottom: 105px;
  margin-right: 70px;
}

.right-sub {
  margin-left: 20px;
  color: #76905c;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.right img {
  position: relative;
  z-index: 1;
  width: 480px;
  margin: 30px 0;
  margin-left: -50px;
}

.trending{
  background-color: #76905C;
  margin: 0 35px;
  padding: 15px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.trending-text{
  width: 200px;
  margin-top: 15px;
}

.trending-images{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.trending-images img{
  width: 130px;
}