* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.logo {
  width: 140px;
  margin-top: 90px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #feffd8;
  height: 80px;
  padding: 0 20px;
}

.nav-bg {
  background-color: #76905c;
  display: flex;
  list-style: none;
  gap: 40px;
  color: white;
  font-size: 14px;
  padding: 10px 0px;
  border-radius: 50px;
  width: 700px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

nav li {
  border-right: 1.5px solid #f9fbdf;
  padding-right: 50px;
}

nav li:last-child {
  border-right: none;
  padding-right: 0px;
}

nav a {
  text-decoration: none;
  color: #f9fbdf;
  font-weight: bold;
}

.ham-menu {
  list-style: none;
}

.feather-minus {
  padding-right: 10px;
}

.container {
  display: flex;
  gap: 30px;
  margin-top: 35px;
  margin-bottom: 40px;
}

.left {
  width: 600px;
  position: relative;
  z-index: -1;
  background-color: #feffd8;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.left img {
  width: 100%;
}

.left-container {
  background-color: white;
  width: 85%;
  height:max-content;
  margin-top: 70px;
}

.left-title {
  background-color: #2f7db5;
  font-size: 20px;
  color: white;
  padding: 5px 30px;
  margin-bottom: 10px;
}

.right {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.card-review {
  background-color: #feffd8;
  height: 200px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-review img {
  width: 100%;
}

.review-body {
  background-color: white;
  height: 180px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}
