* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.logo {
  width: 140px;
  margin-top: 90px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #feffd8;
  height: 80px;
  padding: 0 20px;
}

.nav-bg {
  background-color: #76905c;
  display: flex;
  list-style: none;
  gap: 40px;
  color: white;
  font-size: 14px;
  padding: 10px 0px;
  border-radius: 50px;
  width: 700px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

nav li {
  border-right: 1.5px solid #f9fbdf;
  padding-right: 50px;
}

nav li:last-child {
  border-right: none;
  padding-right: 0px;
}

nav a {
  text-decoration: none;
  color: #f9fbdf;
  font-weight: bold;
}

.ham-menu {
  list-style: none;
}

.feather-minus {
  padding-right: 10px;
}

.container {
  display: flex;
  gap: 30px;
  margin-top: 35px;
  margin-bottom: 40px;
}

.left {
  width: 630px;
  position: relative;
  z-index: -1;
  background-color: #feffd8;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
}

.left img {
  width: 100%;
}

.left-container {
  background-color: white;
  width: 85%;
  margin-top: 70px;
  height: max-content;
}

.left-container-down {
  padding: 10px;
  background-color: #84b950;
}

.left-container-up {
  background-color: white;
  margin-bottom: 10px;
}

.right {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.grid-item {
  flex: 0 0 calc(15, 5555% - 10px);
  box-sizing: border-box;
  position: relative;
  margin-bottom: 10px;
  background-color: #feffd8;
  padding: 10px;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 131px;
  height: 137px;
  margin-bottom: 10px;
}

.grid-item button {
  display: block;
  width: 131px;
  height: 52px;
  padding: 10px;
  background-color: white;
  color: #84b950;
  border: none;
  cursor: pointer;
}

.green-button {
  background-color: #71CE28;
  color: white;
  padding: 7px 40px;
  font-size: 10px;
  cursor: pointer;
  white-space: nowrap;
  width: 100%;
  border: #84b950 2px solid;
}

.my-button {
  font-family: "Amaranth", sans-serif;
}
